.footer {
  justify-content: space-between;
  width: 100%;
  display: flex;
  font-size: 22px;
  font-weight: 500;
  margin-top: 150px;
  margin-bottom: 50px;
}

.footer-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-item {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.footer-left-side {
  width: 40%;
  display: flex;
}

.additional-footer {
  display: flex;
  margin-right: 5px;
}

.footer-right-side {
  justify-content: flex-end;
  width: 40%;
  display: flex;
}

/* footer adaptive */
@media screen and (max-width: 1440px) {
  .footer {
    font-size: 18px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  .footer-social-item {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .additional-footer {
    display: none;
  }
}