/* Navbar */

@media screen and (max-width: 700px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    width: 100%;
    margin-top: 10px;
  }
  
  .nav-title {
    width: fit-content;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0px;
  }
  
  .nav-menu {
    display: none;
  }
  
  .nav-location {
    width: 100px;
    margin-left: 0;
    font-size: 10px;
  }
  
  .active {
    border-bottom: 2px solid white;
  }

  .adaptive-burger {
    display: flex;
  }

  .nav-menu-adaptive {
    z-index: 50;
    margin-top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    top: 0;
    left: 0;
    color: black;
    border-radius: 0px 0px 5px 0;
    width: 35%;
    height: 40%;
    background: #5a5a5a;
    box-shadow: 0px 10px 15px 5px #8e8e8e;
  }

  .nav-menu-adaptive-item {
    font-weight: 500;
    font-size: 10px;
    padding-bottom: 5px;
    width: 100px;
    margin-left: auto;
  }

  .nav-menu-adaptive-icon {
    margin-left: auto;
  }

  .burger {
    width: 100px;
  }

  .d-none {
    display: none;
  }
}



/* Main Page */



@media screen and (max-width: 600px) {
  .first-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
  }
  
  .first-section-right {
    display: none;
  }
  
  .first-section-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    align-self: start;
    margin: 0 auto;
    text-align: center;
  }

  .first-section-adaptive {
    display: flex;
    margin: 0 auto 10px auto;
  }
  
  .emoji {
    display: none;
    z-index: 1;
    position: absolute;
    background-color: rgb(1, 1, 1, 0);
  }
  
  .h1-title {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    position: relative;
    z-index: 1;
    background-color: rgb(1, 1, 1, 0);
    margin: auto 0;
  }
  
  .h2-title {
    margin: auto 0;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    background-color: rgb(1, 1, 1, 0);
  }
  
  .sub-title {
    font-size: 12px;
    font-weight: 500;
  }
  
  .first-left-mid {
    width: 205px;
    align-self: start;
    margin-top: 5px;
    margin: auto 0;
  }
  
  .first-left-bottom {
    margin-top: 10px;
    margin: 10px auto 0px auto;
    align-self: start;
  }
  
  .first-section-mid {
    display: none;
    width: 280px;
    flex-direction: column;
    margin-left: 104px;
  }
  
  .action-btn {
    width: 108px;
    height: 27px;
    font-size: 10px;
  }
  
  .first-mid-techs {
    margin-top: 10px;
    width: 240px;
    margin: 20px 0 0 20px;
  }
  
  .icon {
    font-size: 40px;
  }
  
  .first-image {
    width: 126px;
    height: 126px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    background-color: rgb(1, 1, 1, 0);
  }

  .techs-adaptive {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-top: 50px;
    flex-wrap: wrap;
  }



  /* SECOND SECTION */


  
  .second-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
  }
  
  .second-section-top {
    display: flex;
    flex-direction: column;
    align-self: start;
    width: 165px;
    text-align: center;
    margin: 0 auto;
  }
  
  .line {
    height: 2px;
    width: 100%;
    border-top: 1px solid white;
    margin-top: 5px;
  }
  
  .h2-second-title {
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(1, 1, 1, 0);
  }
  
  .sub-title-second {
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
    background-color: rgb(1, 1, 1, 0);
  }
  
  .second-section-bottom {
    display: flex;
    align-items: center;
  }
  
  .progress-item {
    border-radius: 50%;
    margin-bottom: 2px;
    margin: 0px auto 3px auto;
    font-weight: bold;
    font-size: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .second-section-item {
    display: flex;
    flex-direction: column;
    width: 205px;
    margin: 10px auto 20px auto;
    text-align: center;
  }
  
  .stage-title {
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(1, 1, 1, 0);
    position: relative;
  }
  
  .stage-descr {
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
    background-color: rgb(1, 1, 1, 0);
    position: relative;
  }
  
  .progress-content {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }



  /* CONTACT */


  
  .contact {
    display: flex;
    margin-top: 30px;
    width: 100%;
  }
  
  .contact-form {
    display: flex;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
  }
  
  .contact-title {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(1, 1, 1, 0)
  }
  
  .form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(1, 1, 1, 0)
  }
  
  .form-input {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    padding: 0 10px;
    margin-bottom: 20px;
    background-color: rgb(1, 1, 1, 0);
    transition: 0.3s ease all;
  }
  
  .form-textarea {
    width: 200px;
    height: 100px;
    border-radius: 5px;
    outline: none;
    font-size:  15px;
    font-weight: 500;
    padding: 10px 10px;
    margin-bottom: 20px;
    background-color: rgb(1, 1, 1, 0);
    transition: 0.3s ease all;
  }
  
  .form-btn {
    margin-top: auto;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    font-size:  15px;
    font-weight: 500;
    background-color: rgb(1, 1, 1, 0);
    transition: 0.3s ease all;
  }
  
  .contact-right {
    display: none;
    flex-direction: column;
    margin: auto 0 auto auto;
    width: 165px;
  }
  
  .contact-img {
    width: 126px;
    height: 126px;
    margin-left: auto;
    background-color: rgb(1, 1, 1, 0);
  }
  
  .contact-descr {
    font-size: 10px;
    font-weight: 500;
    text-align: right;
    margin-top: 15px;
    background-color: rgb(1, 1, 1, 0)
  }
}