nav {
  display: flex;
  align-items: center;
  height: 36px;
  width: 100%;
  margin-top: 30px;
}

.nav-title {
  width: 230px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 6px;
  position: relative;
  display: flex;
  background: rgb(1, 1, 1, 0);
  z-index: 10;
}

.nav-menu {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  background: rgb(1, 1, 1, 0);
  z-index: 10;
}

.nav-menu-item {
  z-index: 10;
  font-weight: 500;
  font-size: 20px;
  background: rgb(1, 1, 1, 0);
}

.active {
  color: #333333;
  font-weight: 700;
}

.nav-location {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  background: rgb(1, 1, 1, 0);
  z-index: 10;
}

.adaptive-menu {
  display: none;
}

.adaptive-burger {
  display: none;
}