nav {
  display: flex;
  align-items: center;
  height: 36px;
  width: 100%;
  margin-top: 30px;
}

.nav-title {
  width: 230px;
  font-size: 25px;
  font-weight: medium;
  letter-spacing: 6px;
  position: relative;
  display: flex;
  background: rgb(1, 1, 1, 0);
  z-index: 10;
}

.nav-menu {
  margin-left: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 380px;
}

.nav-menu-item {
  z-index: 10;
  font-weight: medium;
  font-size: 20px;
  padding-bottom: 5px;
}

.nav-location {
  cursor: pointer;
  margin-left: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: medium;
  font-size: 20px;
}

.active {
  border-bottom: 2px solid white;
}