.project-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 10;
}

.project-wrapper {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-img-wrapper {
  margin-bottom: 25px;
}

/* project details */

.project-details {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 5px;
  z-index: 10;
  width: 100%;
  display: flex;
  background: rgba(1, 1, 1, 0);
}

.project-details-title {
  width: 350px;
}

.project-title {
  background: rgba(1, 1, 1, 0);
  z-index: 10;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: left;
}

.project-description {
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  background: rgba(1, 1, 1, 0);
}

.project-tech-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.project-tech-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-tech {
  margin-bottom: 25px;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  background: rgba(1, 1, 1, 0);
}

.project-tech-item {
  background: rgba(1, 1, 1, 0);
}

.project-icon {
  background: rgba(1, 1, 1, 0);
  margin: 10px;
  cursor: pointer;
}

/* project demo */

.project-demo {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(1, 1, 1, 0);
  z-index: 10;
}

.project-img {
  box-shadow: 0px 5px 15px -5px #8e8e8e;
  width: 759px;
  margin: 0 auto;
  border-radius: 5px;
  z-index: 10;
}

.project-links {
  display: flex;
  margin: 25px auto 0 auto;
  background: rgba(1, 1, 1, 0);
  z-index: 10;
}

.project-link {
  background: rgba(1, 1, 1, 0);
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 40px;
  color: white;
  margin-bottom: 27px;
  margin-right: 40px;
  z-index: 10;
}

.links-title {
  z-index: 10;
  background: rgba(1, 1, 1, 0);
  font-size: 28px;
  font-weight: 500;
  margin-left: 10px;
}

.project-head {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.projects-h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  margin: 150px 0 25px 0;
  background: rgba(1, 1, 1, 0);
  z-index: 10;
}

.proj-svg {
  width: 35px;
  height: 35px;
}

/* adaptive */

@media screen and (max-width: 1100px) {
  .links-title {
    font-size: 18px;
  }
}

/* MOBILE adaptive */

@media screen and (max-width: 700px) {
    .project-wrapper {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 0 auto 0px auto;
    }

    .project-demo {
      max-height: 50px;
    }

    

    .proj-svg {
      width: 20px;
      height: 20px;
    }

    .project-head {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
    }

    .projects-h1 {
      margin-top: 50px;
      font-size: 25px;
      text-align: center;
    }

    .project-description {
      font-size: 12px;
      text-align: center;
    }

    .project-tech-title {
      font-size: 20px;
      display: none;
    }

    .links-title {
      font-size: 12px;
    }

    .project-img {
      margin: 0px 0 0px 0;
      padding-bottom: 0;
    }

    .project-link {
      align-items: center;
      text-align: center;
      display: flex;
      font-size: 10px;
      color: white;
      margin-right: 20px;
      height: 30px;
      z-index: 10;
    }

    .project-title {
      font-size: 20px;
      text-align: center;
      margin-bottom: 5px;
    }

    .project-icon {
      margin-right: 20px;
    }

    .project-details {
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }

    .project-details-title {
      width: 180px;
    }

    .project-description {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .project-tech {
      display: none;
    }

    .footer {
      margin-top: 50px;
    }
}