.socials-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.socials-head {
  margin-top: 150px;
  display: flex;
}

.socials-title {
  font-size: 45px;
  text-align: center;
  font-weight: 700;
}  

.socials-subtitle {
  font-size: 25px;
  font-weight: 700;
}

.socials-descr {
  font-size: 16px;
}

.socials-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.socials-email {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .socials-title {
    font-size: 25px;
  }
}